<!DOCTYPE html>
<html>
<body>

<h1>Auth</h1>

<p id="demo">A Paragraph.</p>

<button type="button" onclick="myFunction()">Try it</button>

<p><strong>Note:</strong> myFunction is stored in an external file called "myScript.js".</p>

<script>
   window.myFunction= function(argument) {
    
    
    params = oauth.getToken(location.hash.substring(1));
    //token = oauth.getToken(oauth.generateAuthUrl());
    //console.log(oauth.generateAuthUrl());
  }
</script>

</body>
</html>