<!DOCTYPE html>
<html>
<body>

<h1>External JavaScript</h1>

<p id="demo">A Paragraph.</p>

<button type="button" onclick="myFunction()">Try it</button>

<p><strong>Note:</strong> myFunction is stored in an external file called "myScript.js".</p>

<script src="/build/app.js"></script>
<script>
   window.myFunction= function(argument) {
    
    oauth = Dropbox.authenticate({
      client_id: '5o0jqjozlprkv5q',
      redirect_uri: 'http://localhost:5050/auth',
      response_type: "token",
      force_reapprove: false,
      disable_signup: false,
      require_role: "personal"
    });
    window.location = oauth.generateAuthUrl();
    params = oauth.getToken(location.hash.substring(1));
    //token = oauth.getToken(oauth.generateAuthUrl());
    //console.log(oauth.generateAuthUrl());
  }
</script>

</body>
</html>